*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.navbar{
    width: 100%;
    position: sticky;
    top: 0;
    padding: 30px;
    height: 50px;
    background-color: #e65b00;
    border-bottom: 1px solid #e38e54;
}
.navbar h2{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.hamburger{
    padding: 5px;
    position: absolute;
    top: 50%;
    left:10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.line{
    height: 3.2px;
    width: 25px;
    margin: 3px 0;
    background-color: white;
}
.hamburger .active .two{
    opacity: 0;
}
.hamburger .active .one{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 8px;
    position: absolute;
}
.hamburger .active .three{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 8px;
    position: absolute;
}
.lists{
    position: absolute;
    background-color: #e65b00;
    list-style: none;
    padding: 30px 50px 20px 20px;
    top: 50px;
    left: -180px;
    height: 100vh;
    z-index: 200;
}
.lists li{
    margin: 1px;
    border-bottom: 1px solid #ffffff56;
    width: 100%;
}
.lists li:hover{
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}
.lists.active{
    left:0;
}
.lists li a{
    text-decoration: none;
    color: #fff;
    line-height: 40px;
}
.main-content {
    display: grid;
    height: 800px;
}

.main-content h2 {
    place-self: center;
    font-size: 2rem;
}